body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Verdana;
  color: rgb(236, 236, 236);
  background-color: rgb(37, 37, 37);
  padding: 20px;
}

.topHr{
  border: none;
  background-color: rgba(117, 117, 117, 0.295);
  height: 4px;
  width: 25vw;
  border-radius: 200px
}

.boxHr{
  border: none;
  background-color: rgba(117, 117, 117, 0.295);
  height: 4px;
  border-radius: 200px
}

ul{
  list-style-type: none;
  margin-left: -30px;
}
/* front page */
#logo{
  height: 100px;
  width: auto;
  margin-bottom: -40px;
}
h1{
  color: hsl(3, 100%, 50%);
  font-family: 'Times New Roman', Times, serif;
  filter: drop-shadow(0 0 0.55rem rgb(108, 0, 0));
}
#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  background-color: rgb(29, 29, 29);
  border: 2px solid rgb(48, 48, 48);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(43, 43, 43);
  padding: 10px;
}
  #login input{
    color: rgb(236, 236, 236);
    border: 2px solid rgb(48, 48, 48);
    background-color:rgb(48, 48, 48);
    margin-right: 5px;
    margin-top: 5px;
    transition: .1s;
  }
  #login input[type=submit]{
    height: 35px;
    width: 100px;
  }

  #login input:hover{
    background-color: rgba(141, 141, 141, 0.318);
    -webkit-transform: translateY(-2px);
    transform: scale(1.10,1.10);
  }

.campCreate{
  background:rgba(141, 141, 141, 0.318);
  color:rgb(236, 236, 236);
  border: 1px solid gray;
  margin-top: 10px;
  transition: .2s;
}

.campCreate:hover {
  background-color: rgba(141, 141, 141, 0.318);
  -webkit-transform: translateY(-2px);
  transform: scale(1.10,1.10);
}

/* component styles */

/* campaigns */
.campBox{
  display: flex;
  justify-content: center;
  padding: 10px;
}

  .campItems{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    width: 300px;
    max-height: fit-content;
    background-color: rgb(29, 29, 29);
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(43, 43, 43);
    padding: 10px;
    margin-right: 5px;
    word-wrap: normal;
    transition: .2s;
  }
  .campItems:hover {
    background-color: rgba(0, 0, 0, 0.369);
    -webkit-transform: translateY(-1px);
    transform: scale(1.05,1.05);
  }

  .campItems ul{
    margin-top: -10px;
    margin-bottom: -2px;
  }

  .charItems .recap{
    margin-top: -10px;
    margin-bottom: 50px;
  }

  .campBtns button{
    background:rgba(141, 141, 141, 0.318);
    color:rgb(236, 236, 236);
    border: 1px solid gray;
    margin-top: 10px;
    margin-right: 3px;
    transition: .2s;
  }

  .campBtns button:hover {
    background-color: rgba(141, 141, 141, 0.318);
    -webkit-transform: translateY(-2px);
    transform: scale(1.08,1.08);
  }

/* characters */
.charBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

  .charItems{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    width: 300px;
    background-color: rgb(29, 29, 29);
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(43, 43, 43);
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    word-wrap: normal;
  }
  
  .charItems ul{
    margin-top: -10px;
    margin-bottom: -2px;
  }

  .charItems #notes{
    margin-top: -10px;
    margin-bottom: 5px;
  }

  .charBtns button{
    background:rgba(141, 141, 141, 0.318);
    color:rgb(236, 236, 236);
    border: 1px solid gray;
    margin-top: 10px;
    margin-right: 3px;
    transition: .2s;
  }

  .charBtns button:hover {
    background-color: rgba(141, 141, 141, 0.318);
    -webkit-transform: translateY(-2px);
    transform: scale(1.10,1.10);
  }