body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Verdana;
  color: rgb(236, 236, 236);
  background-color: rgb(37, 37, 37);
  padding: 20px;
}
ul{
  list-style-type: none;
  margin-left: -30px;
}
/* front page */
#logo{
  height: 100px;
  width: auto;
  margin-bottom: -40px;
}
h1{
  color: hsl(3, 100%, 50%);
  font-family: 'Times New Roman', Times, serif;
  filter: drop-shadow(0 0 0.55rem rgb(108, 0, 0));
}
#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  border: 2px solid rgb(48, 48, 48);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(43, 43, 43);
  padding: 10px;
}
  #login input{
    color: rgb(236, 236, 236);
    border: 2px solid rgb(48, 48, 48);
    background-color:rgb(48, 48, 48);
    margin-right: 5px;
    margin-top: 5px;
  }
  #login input[type=submit]{
    height: 35px;
    width: 100px;
  }

/* component styles */
.campBox{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.campItems{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  width: 200px;
  border: 2px solid rgb(48, 48, 48);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(43, 43, 43);
  padding: 10px;
  margin-right: 5px;
  word-wrap: normal;
  transition: .2s;
}
.campItems:hover {
  background-color: rgba(141, 141, 141, 0.318);
  -webkit-transform: translateY(-1px);
  transform: scale(1.05,1.05);
}


.charBox{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.charItems{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  width: 300px;
  border: 2px solid rgb(48, 48, 48);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(43, 43, 43);
  padding: 10px;
  margin-right: 5px;
  word-wrap: normal;
}
